/** {*/
/*  border: 1px dashed red;*/
/*}*/
body {
  background-color: #562495;
}
h1 {
  font-family: Futura;
  color: White;
}

.category h1 {
  border-bottom: thick solid white;
}

button {
  float: right;
}

/*.category {*/
/*  border: 1px solid blue;*/
/*}*/

div {
  padding: 0px 5px 0px 5px;
  vertical-align: top;
  /*border: 1px dashed green;*/
  display: inline-block;
  
}

iframe {
  width: 100%;
  height: 100%;
}

div p {
  padding: 0px 10px 0px 10px;
  font-family: Futura;
  color: White;
  width: 360px;
  overflow: hidden;
  text-overflow: ellipsis;
  
}